@model  MVCDemo.Models.IndexModel
  
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @{string a = "shanzm"; }</br>
    @a</br>
    @a.Length</br>
    @foreach (char item in a)
    {
       @item
    }


    <span>ViewData中name索引的值 @ViewData["name"].ToString()</span></br>
    <span>ViewBag中name索引的值  @ViewBag.name</span></br>
   
    <div>
        <form action="~/Test/Index" method="post">
            <input type="text" name="Num1" value="@Model.Num1" />+
            <input type="text" name="Num2" value="@Model.Num2" />
            <input type="submit" value="=" />
            <span>@Model.Result </span>
        </form>
    </div>
    <hr>
    
</body>
</html>
