<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    }

    <p>welcome!</p>
    <div>
        @RenderBody()
    </div>

    <div>
        @if (IsSectionDefined("ab"))
        {
            @RenderSection("ab")
        }
        else
        {
            <text>这是默认显示的内容</text>
        }

    </div>
    <p>goodbye!</p>
    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer")
    }
</body>

</html>
